#options table.ot,
body > table.ot {
  width: 980px;
  border-style: dotted;
  border-width: 1px;
  margin-bottom: 2em;
}

#options table.ot td,
table.ot tr td {
  padding: 0;
}

#options table.ot th,
table.ot tr th {
  padding: 0;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-bottom: double;
  background-color: #A8A92A;
  background-repeat: no-repeat;
  background-position: 50%;
  color: #542C0F;
  width: auto;
}

.ot th:first-child, .ot th#ot-isle, .ot th#ot-mill, .ot th#ot-time {
  border-left: none;
}

.ot th#ot-mill img {
  margin: 0 -1px -1px 0;
}

.ot th, .ot td.new {
  border-color: #542C0F;
  border-left: double;
}

.ot tr.ot-totals {
  font-weight: bold;
  border-top: medium double;
}

.ot .ot-project {
  font-size: 16px;
  height: 21px;
}

.ot .ot-project img {
  vertical-align: middle;
}

#options .ot .ot-time,
.ot .ot-time {
  text-align: right;
  padding: 0 5px;
}

.ot .ot-current {
  background-color: #CDA55F;
}

#options .ot tr td.ot-isle,
.ot tr td.ot-isle {
  padding: 0 4px;
  white-space: nowrap;
  width: 1%;
}

#options .ot tr td.ot-totals,
.ot tr td.ot-totals {
  padding-right: 3px;
  text-align: right;
}

.ot tr td.ot-isle a img {
  position: relative;
  margin: 0 1px 0 0;
  bottom: -2px;
}

/* progress bar styling */

#options table.ot-pct,
.ot table.ot-pct {
  width: 100%;
  margin-bottom: -3px;
}

.ot table.ot-pct td {
  height: 4px;
}

.ot .ot-pct .left { background-color: green; }
.ot .ot-pct .warn { background-color: #C00000; }
.ot .ot-pct .eeks { background-color: #FF0000; }
.ot .ot-pct .full { background-color: #FF0000; }

#warehouse-event div {
  margin: 8px 6px 8px 0;
  float: right;
}

/* military table */

body > table.ot#ot-2 tr th[style] {
  min-width: 40px;
  height: 40px;
}
